# These files are app specific and should not be shared.
# However, a template for each is provided. You must create a local copy to make the project run

# ###########################################################################
# twitter_config.xml: Contains your registered Twitter app's key and secret #
# ###########################################################################
# <?xml version="1.0" encoding="utf-8"?>
# <resources>
#     <string name="twitter_oauth_key">your_app_key</string>
#     <string name="twitter_oauth_secret">your_app_secret</string>
#     <!-- Specify this uri in your AndroidManifest -->
#     <string name="twitter_callback_url">your_scheme://your_host</string>
#     <!-- Uri used for linking user mentions -->
#     <string name="twitter_mention_uri">openfeed-android://users/</string>
#     <string name="twitter_users_host">users</string>
#     <!-- Uri used for linking hashtags -->
#     <string name="twitter_hashtag_uri">openfeed-android://hashtag/</string>
#     <string name="twitter_hashtag_host">hashtag</string>
# </resources>
# ##################
twitter_config.xml